<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - TimeTrackingApp</title>

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

</head>
<body>
    <div>
        <!-- Side Navigation - will display user info, current hours, links to different pages, etc -->
        <div data-role="navview" class="navview compact-lg expanded-xl">
            <div class="navview-pane">
                <ul class="navview-menu mt-4">
                    <li>
                        <a href="#">
                            <span class="mif-apps icon"></span>
                            <span class="title">all items</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <span class="mif-alarm icon"></span>
                            <span class="title">ABOUT PAGE LINK TEST</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navview-content h-100">
                @RenderBody()
            </div>
        </div>
        

        @RenderBody()

    </div>

    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>
