@{
    ViewData["Title"] = "Home Page";
}

<div>This is login page</div>

<div style="height: 100vh;">
    <div>This is some content that should show to the right of the nav pane!</div>

</div>
